.gcrdialog {
  width: 760px !important;
  height: 600px;
  overflow: auto;

  /* Weird scroll bar position fix */
  transform: translateZ(0);
}

.gcr-ext-editor-uppercase { text-transform: uppercase; }
.gcr-ext-editor-wide { letter-spacing: 1px; }
.gcr-ext-editor-thin { font-weight: 300; }

.gcr-ext-editor-list ul { padding: 0; margin: 0 !important; list-style-type: none; }
.gcr-ext-editor-list li { margin-bottom: 30px; }

.gcr-ext-editor-list {
  margin: 20px auto;
}

.gcr-ext-editor-header {
  background: #f5f5f5;
  margin: -15px -15px 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
}

.gcr-ext-editor-horizontal {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.gcr-ext-editor-answer-title {
  color: #2D243B;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0px;
  word-wrap: break-word;
}

.gcr-ext-editor-answer-text {
  font-size: 14px;
  margin-left: 20px;
  color: #666;
  line-height: 1.6;
}

.gcr-ext-editor-answer-input,
.gcr-ext-editor-list textarea,
.gcr-ext-editor-list input {
  display: block;
  width: 100%;
  position: relative;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  padding: 2px 5px;
}

.gcr-ext-editor-list textarea[disabled],
.gcr-ext-editor-list input[disabled] {
  border: none;
  resize: none;
  box-shadow: none;
  padding: 0;
  background: transparent;
}

.gcr-ext-editor-horizontal textarea,
.gcr-ext-editor-list textarea {
  margin: 10px 0;
  font-family: inherit;
}

.gcr-ext-editor-answer-input {
  width: 400px;
}

textarea.gcr-ext-editor-answer-input {
  font-size: 16px;
  height: 105px;
}

.gcr-ext-editor-status-message {
  font-size: 14px;
  color: #bd2c00;
  padding-left: 10px;
}

.gcr-ext-editor-del {
  margin-left: 20px;
}

.gcr-ext-options-page .gcr-ext-editor-header {
  padding: 30px 20%;
  margin: 0 auto 30px;
}

.gcr-ext-options-page .gcr-ext-editor-list,
.gcr-ext-options-page .gcr-ext-editor-horizontal {
  width: 700px;
  margin: auto;
}
